* {
	box-sizing: border-box;  
}

@import "groups";
@import "buttons";
@import "forms";
@import "tables";
@import "alerts";

.left {		float: left; }
.right {	float: right; }
.clear {	clear: both; }

.text-left {	text-align: left !important; }
.text-center {	text-align: center !important; }
.text-right {	text-align: right !important; }
.text-justify {	text-align: justify !important; }

.disable-text-selection {
	-webkit-touch-callout: none;
	user-select: none;
}


@keyframes pulsate {
	30% {
		transform: scale(0.1, 0.1);
		opacity: 0.0;
	}
	35% {
		opacity: 1.0;
	}
	40% {
		transform: scale(1.2, 1.2);
		opacity: 0.0;
	}
}


// Headings
// --------
h1, h2, h3, h4, h5 {

	font-family: $fontFamilyHeader;
	font-weight: 300;
	//margin: 10px 0px 0px 0px;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 2.0rem; }
h4 { font-size: 1.8rem; }
h5 { font-size: 1.6rem; }

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

p {
	
}
