@mixin tagColorize($bg, $text: $textColor) {
	$border: lighten($bg, 0%);
	background: $bg;
	border: 1px solid $border;
	color: $text;	
}


.tag {
	display: inline;
	margin: 0 0.3em;
	padding: .2em .6em;
	font-size: 0.75em;
	//font-weight: 700;
	line-height: 0.95em;
	color: $textColor;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: .25em;

	@include tagColorize($buttonColor);


	&.primary {
		@include tagColorize($buttonPrimaryColor);
	}

	&.outline {
		@include tagColorize(transparent);
		border: 1px solid lighten($buttonColor, 5%);
	}

	&.success {
		@include tagColorize($successColor);	
	}

	&.warning {
		@include tagColorize($warningColor);	
	}

	&.danger {
		@include tagColorize($dangerColor);	
	}	

	&.number {
		min-width: 2.0em;
		min-height: 2.0em;
		//line-height: 2.0em;
		//padding: 0 0.6em;
		padding: .35em .6em;

		border-radius: 1.9em;
	}
}