extends ../layout

block content
	.container
		.row
			.col-sm-6.col-sm-offset-3
				br
				legend Login
				form(action="/auth/local", method="POST")

					.form-group
						a.btn.btn-block.btn-social.btn-google-plus.btn-lg(href='/auth/google')
							i.fa.fa-fw.fa-google-plus
							| &nbsp;Sign in with Google
					.form-group
						a.btn.btn-block.btn-social.btn-facebook.btn-lg(href='/auth/facebook')
							i.fa.fa-fw.fa-facebook
							| &nbsp;Sign in with Facebook
					.form-group
						a.btn.btn-block.btn-social.btn-twitter.btn-lg(href='/auth/twitter')
							i.fa.fa-fw.fa-twitter
							| &nbsp;Sign in with Twitter
					.form-group
						a.btn.btn-block.btn-social.btn-github.btn-lg(href='/auth/github')
							i.fa.fa-fw.fa-github
							| &nbsp;Sign in with Github

					input(type="hidden", name="_csrf" value=_csrf)
					.form-group
						label(for="username") Username or e-mail
						input.form-control(type="text", name="username" id="username", autofocus)
					.form-group
						label(for="password") Password
						input.form-control(type="password", name="password" id="password")
						#hint If the password is empty, we will send an email with a login link (passwordless login)
					p
						a(href='/forgot')
							strong Forgot your password?
					if messages.error
						.alert.alert-danger
							for error in messages.error
								div= error.msg
					if messages.info
						.alert.alert-success
							for info in messages.info
								div= info.msg

					.form-group
						button.btn.btn-primary(type="submit") Login

				p Don't have an account?
					a(href='/signup')
						strong  Sign up						