extends ../layout

block content
	.center-container
		.panel
			.bg
			.bg-overlay
			.content
				form(action='/auth/local', method='POST')
					input(type="hidden", name="_csrf" value=_csrf)

					header Login
					.form-group
						label(for='username') Username or e-mail:
						input(type='text', name='username', id='username', placeholder='Your username  or email address')
						.hint
					.form-group
						label(for='password') Password:
						input(type='password', name='password', id='password', placeholder='Password')
						.hint If the password is empty, we will send an email with the magic link (passwordless login)

					.flash
						if messages.error
							.alert.alert-danger
								for error in messages.error
									div= error.msg
						if messages.info
							.alert.alert-success
								for info in messages.info
									div= info.msg

					.form-group
						button.signup(type='submit') Login

					.or
						span or

					.socials
						a.group.facebook(href="/auth/facebook", title="Login with Facebook")
							i.fa.fa-facebook
						a.group.google(href="/auth/google", title="Login with Google")
							i.fa.fa-google-plus
						a.group.twitter(href="/auth/twitter", title="Login with Twitter")
							i.fa.fa-twitter
						a.group.github(href="/auth/github", title="Login with Github")
							i.fa.fa-github

					hr
					.alreadyLink
						span Don't have an account?
						a(href='/signup') Sign up

block scripts
	script(src='/app/frontend.js')
					