extends ../layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	.center-container
		.panel
			.bg
			.bg-overlay
			.content
				form(method='POST')
					input(type='hidden', name='_csrf', value=_csrf)

					header Reset
						
					.form-group
						label(for='password') New Password
						input.form-control(type='password', name='password', id='password', placeholder='New password', autofocus, required)
					.form-group
						label(for='confirm') Confirm Password
						input.form-control(type='password', name='confirm', id='confirm', placeholder='Confirm password', required)

					.flash
						if messages.info
							.alert.alert-success
								for info in messages.info
									div= info.msg
						if messages.error
							.alert.alert-danger
								for error in messages.error
									div= error.msg	
					.form-group
						button(type='submit') Change Password

block scripts
	script(src='/app/frontend.js')					