extends ../layout

block content
	.container
		.row
			.col-sm-6.col-sm-offset-3
				br
				br
				form(action='/signup', method='POST')
					input(type="hidden", name="_csrf" value=_csrf)
					legend Sign Up
					.form-group
						label.sr-only(for='name') Name:
						input.form-control(type='text', name='name', id='name', placeholder='Your Name', autofocus=true, required)
					.form-group
						label.sr-only(for='email') Email:
						input.form-control(type='email', name='email', id='email', placeholder='Use a real email address to see the welcome email', required)
						#hint
					.form-group
						label.sr-only(for='username') Username:
						input.form-control(type='text', name='username', id='username', placeholder='Your username', required)
						#hint
					.form-group
						label.sr-only(for='passwordless') Passwordless account
						input.form-control(type='checkbox', name='passwordless', id='passwordless')

					.form-group
						label.sr-only(for='password') Password:
						input.form-control(type='password', name='password', id='password', placeholder='Password', autocomplete='off')

					if messages.error
						.alert.alert-danger
							for error in messages.error
								div= error.msg
					if messages.info
						.alert.alert-success
							for info in messages.info
								div= info.msg
					.form-group
						button.btn.btn-success(type='submit')
							i.fa.fa-check
							| &nbsp;Sign Up
						| &nbsp;
						a.btn.btn-link(href='/login') Already have an account?