// Style variables 
$backgroundColor: #e6e6e6;
$textColor: #000;
$masterColor: #389BFE;

$fontFamily: Tahoma, Helvetica, sans-serif;
$fontFamilyHeader: Arial, sans-serif;

// Common style
* {
	box-sizing: border-box;  
}

html {
	background-color: $backgroundColor;
	color: $textColor;
	font-size: 14px;
	font-family: $fontFamily;
	font-weight: 400;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

