@font-face {
  font-family: "proxima_nova";
  src: url("//skeleton-fonts.s3-website-us-west-2.amazonaws.com/proxima-nova-regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
a {
  color: #007ee6;
  text-decoration: none;
}