extends layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	.page
		h2 Welcome to #{app.title}
		a.btn.btn-success(href="/login") Login
		br
		br
		if disableSignUp !== true
			a.btn.btn-success(href="/signup") Signup

	include parts/footer

block scripts
	script(src='/app/frontend.js')

