extends layout

block content
	h1 Hello #{user.fullName}!

	app

	a(href="/logout") Logout


block scripts
	// Site scripts
	script(src="//cdn.socket.io/socket.io-1.2.1.js")
	script(src='/app/app.js')
	