* {
  box-sizing: border-box; }

html {
  background-color: #e6e6e6;
  color: #000;
  font-size: 14px;
  font-family: Tahoma, Helvetica, sans-serif;
  font-weight: 400;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  overflow: hidden;
  padding: 0;
  margin: 0; }
