extends layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/app.css')

block content
	#app

block scripts
	// Site scripts
	script(src='/app/vendor.js')
	script(src='/app/app.js')
	