extends ../layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	.center-container
		.panel
			.bg
			.bg-overlay
			.content
				form(method='POST')
					input(type="hidden", name="_csrf" value=_csrf)

					header Forgot

					p Enter your email address below and we'll send you password reset instructions.

					.form-group
						label(for='email') Email
						input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus)

					.flash
						if messages.info
							.alert.alert-success
								for info in messages.info
									div= info.msg
						if messages.error
							.alert.alert-danger
								for error in messages.error
									div= error.msg

					.form-group
						button(type="submit") Reset Password

block scripts
	script(src='/app/frontend.js')