extends ../layout

block styles
	// Site stylesheet
	link(rel='stylesheet', href='/app/styles/frontend.css')

block content
	.center-container
		.panel
			.bg
			.bg-overlay
			.content
				form(action='/signup', method='POST')
					input(type="hidden", name="_csrf" value=_csrf)

					header Sign Up
					.form-group
						label(for='name') Name:
						input(type='text', name='name', id='name', placeholder='Your Name', autofocus=true, required)
					.form-group
						label(for='email') Email:
						input(type='email', name='email', id='email', placeholder='Your email address', required)
						.hint
					.form-group
						label(for='username') Username:
						input(type='text', name='username', id='username', placeholder='Your username (optional)')
						.hint
					.form-group
						label(for='passwordless') Passwordless account?
						input(type='checkbox', name='passwordless', id='passwordless')
						.hint

					.form-group
						label(for='password') Password:
						input(type='password', name='password', id='password', placeholder='Password')

					.flash
						if messages.error
							.alert.alert-danger
								for error in messages.error
									div= error.msg
						if messages.info
							.alert.alert-success
								for info in messages.info
									div= info.msg

					.form-group
						button.signup(type='submit') Sign Up

					if socialAuth
						.or
							span or

						.socials
							if socialAuth.facebook
								a.group.facebook(href="/auth/facebook", title="Sign up with Facebook")
									i.fa.fa-facebook
							if socialAuth.google
								a.group.google(href="/auth/google", title="Sign up with Google")
									i.fa.fa-google-plus

					hr
					.alreadyLink
						span Already have an account?
						a(href='/login') Login

block scripts
	script(src='/app/frontend.js')