* {
	box-sizing: border-box;  
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.disable-text-selection {
	-webkit-touch-callout: none;
	user-select: none;
}


@keyframes pulsate {
  30% {
    transform: scale(0.1, 0.1);
    opacity: 0.0;
  }
  35% {
    opacity: 1.0;
  }
  40% {
    transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}