@import "variables";

@import "../../node_modules/bulma/bulma.sass";

// Common style
* {
	box-sizing: border-box;  
}
/*
html {
	background-color: $color1;
	color: $textColor;
	font-size: 14px;
	font-family: $fontFamily;
	font-weight: 400;
	font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;	
}

body {
	padding: 0;
	margin: 0;
}

a {
	color: $textColor;
	border-bottom: 1px solid $masterColor;
	text-decoration: none;
	
	&:hover {
		border-bottom: 1px solid $color5;
	}

	&.active, &:active {
		color: $color5;	
		font-weight: 600;
		border-bottom: 1px solid $color5;
	}
}

button {
	background-color: $buttonColor;
	color: $buttonTextColor;
	border: 0;
	margin: 0px 0.5em;
	font-size: 1.0rem;
	padding: 0.5em 1em;
	font-family: $fontFamily;
	font-weight: 400;
	border-radius: 8px;
	cursor: pointer;
	
	&:hover {
		background-color: lighten($buttonColor, 10%);
	}

	&:active {
		background-color: darken($buttonColor, 10%);
	}	
} // button

*/